*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.contenedor {
  width: 100%;
  max-width: 1170px;
  margin: auto;
}

/*HEADER*/

header {
  width: 100%;
  height: 265px;
  background-color: #f9f9f9;
}

.logo {
  padding: 45px 0;
}

.logo img {
  width: 100px;
  display: block;
  margin: auto;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 430px;
  margin: auto;
}

.menu a {
  text-decoration: none;
  color: #7a7a7a;
  font-size: 14px;
}

.menu a:hover {
  color: #000;
}

@media all and (max-width:768px) {
  .menu {
    padding: 0 10px;
  }
}

/*BANNER PRINCIPAL*/
.banner {
  width: 100%;
  height: 500px;
  background-image: url(../img/banner1.jpg);
  background-position: center;
  background-size: cover;
}

.tinte {
  width: 100%;
  height: 100%;
  background-color: rgba(242, 94, 94, 0.35);
}

/*LLAMADA ACCION*/
.llamada-accion {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f9f9f9;
}

.llamada-accion .contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.sportwear {
  width: 100%;
  max-width: 570px;
}

.sportwear img {
  width: 100%;
}

.loremipsum {
  text-align: center;
  padding: 15px 0;
  max-width: 570px;
}

.loremipsum h3 {
  font-size: 24px;
  color: #000;
  padding-bottom: 20px;
  border-bottom: 1px solid #9a9a9a;
  font-weight: normal;

}

.loremipsum p {
  padding-top: 20px;
  font-size: 16px;
  color: #4d4d4d;
}

.vermas {
  text-align: center;
  padding: 15px 0;
  max-width: 570px;
  margin-top: 30px;
}

.vermas a{
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: #f25e5e;
  padding: 15px 30px;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
}

.vermas a:hover {
  background-color: #eb4848;
}

@media all and (min-width:769px) {
  .llamada-accion {
    padding-top: 170px;
    padding-bottom: 170px;
  }

  .sportwear {
    margin-right: 30px;
  }

  .loremipsum {
    padding-left: 30px;
    text-align: left;
  }
}

@media all and (max-width:768px) {
  .llamada-accion .contenedor {
    padding: 0 10px;
  }
}

/*BANNER QUOTE*/
.banner-quote {
  width: 100%;
  height: 200px;
  background-image: url(../img/banner2.jpg);
  background-position: center;
  background-size: cover;
}

.quote h2 {
  color: #fff;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
}

.quote h2:nth-child(1) {
  padding-top: 30px;
}

@media all and (min-width:769px) {
  .quote h2 {
    font-size: 48px;
  }
}

/*FOOTER*/
.top-footer {
  height: 30px;
  background-color: #f9f9f9;
}

.center-footer {
  background-color: #dfdfdf;
}

.center-footer .contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.center-footer .widget {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 65px;
  color: #7a7a7a;
  max-width: 270px;
  margin: 0 auto;
}

.center-footer .widget h4 {
  padding-bottom: 35px;
  font-size: 18px;
}

.center-footer .widget p {
  font-size: 14px;
}

.bottom-footer {
  height: 30px;
  background-color: #f9f9f9;
}

.bottom-footer p {
  color: #7a7a7a;
  font-size: 12px;
  text-align: center;
  padding-top: 5px;
}
